@import 'action-bar';
@import 'text';
@import 'button';
@import 'list-view';
@import 'card';
@import 'forms';
@import 'switch';
@import 'slider';
@import 'segmented-bar';
@import 'checkbox';

textfield {
    font-size: 14;
}

.fa {
    font-family: 'FontAwesome', fontawesome-webfont;
}

.fa-large {
    font-family: 'FontAwesome', FontAwesome;
    font-size: 26;
}

.padding {
    padding: 10;
}

.edges {
    margin-left: 10;
    margin-right: 10;
}

.left {
    horizontal-align: left;
    text-align: left;
}

.right {
    text-align: right;
    horizontal-align: right;
}

.center {
    horizontal-align: center;
    text-align: center;
}

.hr {
    height: 1;
    background-color: #CDCDCD;
}

.debug {
    border-width: 1;
    border-color: red;
}
