@import 'action-bar';
@import 'text';
@import 'button';
@import 'list-view';
@import 'card';
@import 'forms';

page {
    color: #000;
}

textfield {
    font-size: 14;
}

.fa {
    font-family: 'FontAwesome', FontAwesome;
}

.padding {
    padding: 10;
}

.left {
    horizontal-align: left;
    text-align: left;
}

.center {
    horizontal-align: center;
}

.hr {
    height: 1;
    background-color: #CDCDCD;
}


