.form {
    margin-bottom: 20;
}

.form .form-item {
    padding: 6 0 5 16;
}

.form .input {
    padding-top: 2;
}

.form .input-label {
    font-size: 16;
    padding: 4 0 0 0;
}

.form-inset {
    margin: 10;
    border-width: 1;
    border-color: #DDDDDD;
}